services:
    nginx:
        image: nginx:alpine
        container_name: my_statistics_nginx
        restart: always
        ports:
            - '${APP_PORT:-80}:80'
        volumes:
            - ./:/var/www
            - ./nginx:/etc/nginx/conf.d/
        networks:
            - sail
        depends_on:
            - laravel
    laravel:
        image: 'cosmo98/laravel-12'
        container_name: my_statistics_app
        restart: always
        ports:
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        working_dir: /var/www
        volumes:
            - '.:/var/www'
        networks:
            - sail
        depends_on:
            - mysql
    
    mysql:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'react-starter-kit_sail-mysql:/var/lib/mysql'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
    phpmyadmin:
        image: phpmyadmin
        restart: always
        ports:
            - '${FORWARD_PHPMYADMIN_PORT:-9997}:80'
        environment:
            PMA_HOST: mysql
            PMA_USER: '${DB_USERNAME}'
            PMA_PASSWORD: '${DB_PASSWORD}'
        depends_on:
            - mysql
        networks:
            - sail

networks:
    sail:
        name: app_network
        driver: bridge
volumes:
    react-starter-kit_sail-mysql:
        external: true